body{
    background-color: #34495e;
}
#container{
    width: 350px;
    height: auto;
    margin: 0 auto;
    text-align: center;
    background: whitesmoke;
    height: 800px;
    overflow-y: auto;
    color: black;
    border: 10px solid #01a3a4;
    border-radius: 10px;
}

#container h1{
    margin-top: 50px;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#container ul {
    margin-top: 10px;
    padding-left: 0;
}

#container ul li{
    list-style: none;
    border: 2px solid black;
    width: 80%;
    opacity: 1;
    transition: opacity 0.5s ease-in;
    height: 40px;
    margin: 5px auto;
    text-align: left;
}

#container ul li label{
    margin: 0 auto;
    vertical-align: middle;
    height: 100%;
    line-height: 40px;
    font-size: 18px;
}

#container ul li #check {
    float: left;
    width: 30px;
    height: 30px;
    margin: 5px;
    -webkit-appearance: none;
    border: 2px solid #b5c5dd;
    position: relative;
    outline: 0;
}

#container ul li #check:checked:after{
    content: '\2714';
    font-size: 20px;
    position : absolute;
    top: 0px;
    left: 7px;
    color:black;
}
#container ul li input[type="checkbox"]:checked + label {
    text-decoration: line-through;
    color: black;

}

#container .controls {
    width: 60%;
    margin: auto;

}

#container .controls #input{
    width: 100%;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 2px;
    font-size: 20px;
    color: red;
    margin-bottom: 20px;

}

#container .controls #input:hover {
    transform: scale(1.5);
}

#container .controls button {
    width: 100%;
    background: white;
    border: none;
    height: 30px;
    margin-top: 2px;
    cursor: pointer;
    color: white;
}



#container .controls button:hover {
    transform: scale(1.1);
}

#container .controls #Add {
    background-color: rgb(67, 113, 212);
    border-radius: 10px;
}

#container .controls #remove {
    background-color:red;
    border-radius: 10px;
    margin-top: 5px;
}

#container .mycheck {
    opacity: 1;
    
}

#container .mycheck:hover{
    transform: scale(1.1);
}

.visual {
    opacity: 1 !important;
    border-radius: 10px;
}